<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车案例</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    
</head>

<body>
    <div id="app" v-cloak>
        <template v-if="list.length !== 0">
            <table :style="packageStyle">
                <thead>
                    <tr>
                        <th></th>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        <th>购买数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tr v-for="(product, index) in list">
                    <td>{{index+1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <button @click="handleReduce(index)" :disable="product.count === 1">-</button>
                        {{product.count}}
                        <button @click="handleAdd(index)">+</button>
                    </td>
                    <td><button @click="handleRemove(index)">移除</button></td>
                </tr>
            </table>
            总价: ￥{{totalPrice}}
        </template>
        <div v-else>购物车为空</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>